/* Main stylesheet */
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Nunito:wght@400;700&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #111;
}

/* Apply Google Fonts */
h1 {
  font-family: "Alegreya", serif;
}

p {
  font-family: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
